* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --vermelho: 220, 0, 0;
    --primaria: var(--vermelho);
}

body {
    background-color: #999;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}