.main {
    margin: 0;
    padding: 24px;
}

.gridposts {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.tituloazul {
    color: blue;
}

.postitem {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 3px 6px 0 #0004;
    transition: all .4s ease-in-out;
}

.postinfo {
    padding: 16px;
}

.postinfo h3 {
    margin: 0;
}

.postimage_container {
    min-height: 160px;
    overflow: hidden;
}

.postimage {
    min-height: 160px;
    background-color: #ccc;
    transition: all .4s ease-in-out;
    background-size: cover;
    background-position: center;
}

.postitem:hover {
    transform: translateY(-10px);
    box-shadow: 0px 9px 18px 0 #0008;
    transition: all .4s ease-in-out;
}

.postitem h3 {
    color: black;
}

.postitem:hover h3 {
    color: rgb(var(--primaria));
}